soybean-admin
# 模拟数据库插入文件
doc/mock_sql/*.sql
# i18n 翻译文件
server/assets/_locales
app/locales/pages
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.pnpm-store
# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# drizzle orm
server/drizzle/out

# ai
.agents
.codex
.trae
